<%- include layouts/dash_header.ejs %>
  <div id="content" class="bg-grey w-100">
    <br />
    <h1>
      Juegos por Autorizar
    </h1>
    <br />
    <div class="row">
      <% for(var Juego=0;Juego<Games.length;Juego++) { %>
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <img height="300px" src="<%=Games[Juego].photo%>" class="card-img-top" alt="...">
              <h5 class="card-title">
                <%=Games[Juego].title%>
              </h5>
              <p class="card-text">
                <%=Games[Juego].description%>
              </p>
              <h6>Fecha de lanzamiento: <%=Games[Juego].release_year%>
              </h6>
              <br/>
                <a href="/autorizar/<%=Games[Juego].id_game%>" class="btn btn-primary">Autorizar</a>
                <a href="/rechazar" class="btn btn-primary">Rechazar</a>
            </div>
          </div><br>
        </div>
        <% } %>
    </div>
  </div>
<%- include layouts/dash_footer.ejs %>